@font-face {
  font-family: 'CirceLight';
  font-weight: 350;
  src: url('../fonts/Circe-Light.woff2');
}
@font-face {
  font-family: 'CirceBold';
  font-weight: 700;
  src: url('../fonts/Circe-Bold.woff2');
}
@font-face {
  font-family: 'CirceRegular';
  font-weight: 400;
  src: url('../fonts/Circe-Regular.woff2');
}
@keyframes tagsAnimation {
  0% {
    transform: translate3d(0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes running-contour {
  from {
    background-position:
      0 0,
      8px 100%,
      0 8px,
      100% 0;
  }
  to {
    background-position:
      8px 0,
      0 100%,
      0 0,
      100% 8px;
  }
}
